<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link href="~/Content/footer.css" rel="stylesheet" />
</head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#myPage"><B style="color:red">ON</B><B style="color:gray">LINE</B>_<B style="color:yellow">RECHARGE</B></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("HOME", "Index", "Home")</li>

                        @if (Session["uname"] != null)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">



                                    DEAR @Session["uname"]
                                    <span style="display:none">@Session["ID"]</span>

                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <h5 style="font-weight:bold;text-align:center;background-color:gray"> Your Balance is  @Session["balance"]</h5>
                                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>

                                </ul>
                            </li>



                            if (User.Identity.IsAuthenticated)

                            {


                                if (User.IsInRole("User"))
                                {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            OUR SERVICES
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("DEPOSIT MONEY", "Deposit", new { id = @Session["ID"] })</li>
                                            <li>@Html.ActionLink("RECHARGE NOW", "onlinerecharge", new { id = @Session["ID"] })</li>
                                            <li>@Html.ActionLink("POSPAID BILL", "POSTPAID_BILLS")</li>
                                            <li>@Html.ActionLink("CALLER TUNE", "CALLERTUNE", "User")</li>
                                            <li>@Html.ActionLink("MONEY TRANSFER", "Moneytransfer", new { id = @Session["ID"] })</li>
                                            <li>@Html.ActionLink("VIEW OFFERS", "Viewoffers", "User")</li>
                                        </ul>
                                    </li>


                                }


                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("MY ACCOUNT", "Loginpage", "User")</li>

                        }
                        <li>@Html.ActionLink("ABOUT US", "AboutUs", "Home")</li>
                        <li>@Html.ActionLink("CONTACT US", "ContactUs", "Home")</li>
                        <li>@Html.ActionLink("FEEDBACK", "Feedbackpage", "Home")</li>
                        <li>@Html.ActionLink("CUSTOMER CARE", "CustomerCare", "Home")</li>



                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
                </div>
            </div>

        </nav>

        <div>
            <img src="~/Images/about-us-main.jpg" class="img-responsive" />
        </div>

        <h1 style="text-align:center"><b>ABOUT US</b></h1><br /><br />

        <div class="container">


            <div class="row">

                <div class="col-md-3">
                    <img style="position:relative;left:35%" src="~/Images/6877537_preview.png" width="80" height="80" />
                    <h2 style="text-align:center;letter-spacing:2px">
                        <b>
                            140<br />
                            countries
                        </b>
                    </h2>

                </div>
                <div class="col-md-3">
                    <img style="position:relative;left:35%" src="~/Images/420-4208268_antenna-clipart-telco-mobile-network-operator-icon.png" width="80" height="80" />
                    <h2 style="text-align:center;letter-spacing:2px">
                        <b>
                            500<br />
                            operators
                        </b>
                    </h2>

                </div>


                <div class="col-md-3">
                    <img style="position:relative;left:35%" src="~/Images/mobile-icon-png-70.png" width="80" height="80" />
                    <h2 style="text-align:center;letter-spacing:2px">
                        <b>
                            4 billion<br />
                            phone reach
                        </b>
                    </h2>

                </div>







                <div class="col-md-3">
                    <img style="position:relative;left:35%" img src="~/Images/Cab_-_Line_-_Expand-01-512.png" width="80" height="80" />
                    <h2 style="text-align:center;letter-spacing:2px">
                        <b>
                            600,000
                            retailers
                        </b>
                    </h2>

                </div>


            </div>


        </div><br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <p style="font-size:12px">
                        Recharge.com was founded to change billions of lives by accelerating mobile access. As the number one international mobile top-up platform in the world, Recharge.com has been keeping people connected since 2006, when it launched this first-of-a-kind service. Today, Recharge.com’s users have successfully sent over 300 million top-ups globally, via the app, online at Recharge.com, and in-store at over 600,000+ retail outlets worldwide.<br /><br />

                        The number of prepaid mobile phones is growing and now accounts for 76% of the world’s five billion phones, with one quarter offline and in need of top-up at any one time – highlighting the need for Recharge.com frictionless and instant mobile top-up. In fact, Recharge.com delivers a top-up every second, via 500+ operators, across 140+ countries – helping families and friends around the world to stay connected.<br /><br />

                        Recharge.com is headquartered in Dublin, Ireland, and has regional offices in Barcelona, Bucharest, Dhaka, Dubai, New Jersey, Miami, Paris, and San Salvador. Recharge.com culturally diverse team of more than 200 people reflects our commitment to delivering cutting-edge, potentially life-changing technology to developed and emerging markets a like.
                    </p><br /><br />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="~/Images/unnamed.png" class="img-responsive" />

            </div>

            <div class="col-md-6">
                <p style="text-align:center;font-size:24px;color:blue">
                    "Mobile phones can change lives and therefore so can we. It’s a massive
                    responsibility and a global opportunity. That’s why we do everything we
                    can every day to make people’s lives a little better through mobile top-up."
                </p>
            </div>


            <div class="col-md-3">
                <img src="~/Images/unnamed%20(1).png" class="img-responsive" />


            </div>


        </div>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



        <div class="container-fluid body-content">
            @RenderBody()
            </div>
        <!-- Footer -->
        <section id="footer">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h3>CONNECTED TOGETHER</h3>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" HOME", "Index", "Home")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" FEEDBACK", "Feedbackpage", "Home")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" FAQ", "CustomerCare", "Home")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" GET CONTACT", "ContactUs", "Home")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" ABOUTUS", "AboutUs", "Home")</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h3>GET ADVANTAGE</h3>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" MY ACCOUNT", "Loginpage", "User")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" RECHARGE NOW", "onlinrEcharge", "User")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" POSTPAID BILLS", "POSTPAID_BILLS", "User")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink(" CALLER TUNES", "CALLERTUNE", "User")</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>@Html.ActionLink("Logout", "Logout", "User")</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h3>SOCIALIZM</h3>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FACEBOOK</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>INSTAGRAM</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>TWITTER</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>GMAIL</a></li>
                            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>RECHARGE.CO</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p><u><a href="https://Recharge.com/">Recharge Corporation</a></u> is a Registered Recharge Website, Inc. Georga [a wholly owned subsidiary of pakistan. Karachi, Authentication, MN]</p>
                        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://Recharge.com" target="_blank">RECHARGE</a></p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
        <!-- ./Footer -->
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
          
    </body>
</html>