@model online_mobile_recharge.Models.offers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>offers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Network)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Network)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
